<div class="grid_12">
	<div class="box round first grid">
    <h2>
        Lista de alunos
    </h2>
    <div class="block">

		<table class="data display datatable" id='tabela'>
			<thead>
		  <tr>
		    <th>Matricula</th>
		    <th>Nome</th>
		    <th>Nascimento</th>
		    <th>Turma</th>
		    <th>Fone</th>
		    <th>Fone2</th>
		    <th></th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>
		<tbody>
			<% @alunos.each do |aluno| %>
			  <tr>
			    <td><%= aluno.matricula %></td>
			    <td><%= aluno.nome %></td>
			    <td><%= aluno.data_nascimento ? aluno.data_nascimento.strftime("%d/%m/%Y") : "" %></td>
			    <td><%= aluno.turma ? aluno.turma.descricao : "vazio" %></td>
			    <td><%= aluno.fone %></td>
			    <td><%= aluno.fone2 %></td>
			    <td><%= link_to 'Show', aluno %></td>
			    <td><%= link_to 'Edit', edit_aluno_path(aluno) %></td>
			    <td><%= link_to 'Destroy', aluno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			    <td><%= link_to 'Financeiro', "/financeiro/aluno_mensalidades/#{aluno.id}" %></td>
			  </tr>
			<% end %>
		</tbody>
		</table>
		
		<br />
		
		<%= link_to 'New Aluno', new_aluno_path %>
	</div>
	</div>
</div>
<script type="text/javascript">
	
	tabela = $('#tabela').dataTable({
		"sPaginationType": "full_numbers"
	});
	setSidebarHeight();
	
</script>
