<p id="notice"><%= notice %></p>

<p>
  <b>Matricula:</b>
  <%= @aluno.matricula %>
</p>

<p>
  <b>Nome:</b>
  <%= @aluno.nome %>
</p>

<p>
  <b>Data nascimento:</b>
  <%= @aluno.data_nascimento %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @aluno.logradouro %>
</p>

<p>
  <b>Logradouro numero:</b>
  <%= @aluno.logradouro_numero %>
</p>

<p>
  <b>Logradouro complemento:</b>
  <%= @aluno.logradouro_complemento %>
</p>

<p>
  <b>Bairro:</b>
  <%= @aluno.bairro %>
</p>

<p>
  <b>Cidade:</b>
  <%= @aluno.cidade %>
</p>

<p>
  <b>Uf:</b>
  <%= @aluno.uf %>
</p>

<p>
  <b>Tipo sanguineo:</b>
  <%= @aluno.tipo_sanguineo %>
</p>

<p>
  <b>Data vencimento:</b>
  <%= @aluno.data_vencimento %>
</p>

<p>
  <b>Sexo:</b>
  <%= @aluno.sexo %>
</p>

<p>
  <b>Fone:</b>
  <%= @aluno.fone %>
</p>

<p>
  <b>Fone2:</b>
  <%= @aluno.fone2 %>
</p>

<p>
  <b>Observacao:</b>
  <%= @aluno.observacao %>
</p>


<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
