<script type="text/javascript">
	$(function(){
		
        $( "#data_vencimento" ).datepicker({
        	 dateFormat: "dd/mm/yy" });
	
		$('.datatable').dataTable({
			"sPaginationType": "full_numbers"
			
		});
		
		$('#valor').priceFormat({
			prefix: 'R$ ',
    		centsSeparator: ',',
    		thousandsSeparator: '.'
		});
		
		$('#quantidade').add("#dia_vencimento").priceFormat({
			prefix: '',
    		centsSeparator: '',
    		thousandsSeparator: ''
		});
	
	});
	
	var enviaFormGeraMensalidade = function(){
		$("#formGeraMensalidade").submit();
	}
	
	var marcarAbertas = function(){
		alert("marcar abertas");
	}
	
	var gerarCarnes = function(){
		alert("gerar carnes");
	}
	
</script>

<div class="grid_10">
	<div class="box round first grid">
    	<h2><%= @aluno.nome %></h2>
    	<div class="block ">
    	<form id="formGeraMensalidade" method="post" action="/financeiro/gerar_mensalidades">
    		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/> 
    		<input type="hidden" name="aluno_id" value="<%= @aluno.id %>" />
	        <table class="form">
	            <tr>
	                <td class="col1">
	                    <label>Valor</label>
	                </td>
	                <td class="col1">
	                    <label>Data</label>
	                </td>
	                <td class="col1">
	                    <label>Quantidade</label>
	                </td>
	                <td class="col1">
	                    <label>Dia Vencimento</label>
	                </td>
	                
	            </tr>
	            <tr>
	            	<td class="col1">
	                    <input type="text" id="valor" name="valor"/>
	                </td>
	                <td>
                       <input type="text" id="data_vencimento" name="data_vencimento"/>
                    </td>
	                <td class="col1">
	                    <input type="text" id="quantidade" name="quantidade" value="1" size="3" />
	                </td>
	                <td class="col1">
	                    <input type="text" id="dia_vencimento" name="dia_vencimento" value="<%= @aluno.dia_vencimento %>" size="3" />
	                </td>
	            </tr>
	         </table>
	         <button type="button" class="btn-icon btn-grey" onclick="enviaFormGeraMensalidade();">Gerar Mensalidade</button>
	         <button type="button" class="btn-icon btn-orange" onclick="marcarAbertas();">Marcar mensalidades abertas</button>
	         <button type="button" class="btn-icon btn-red btn-plus" onclick="gerarCarnes();">Imprimir Carnês</button>
	    </form>
	    </div>
                    <table class="data display datatable" id="example">
					<thead>
						<tr>
							<th>Valor</th>
							<th>Vencimento</th>
							<th>Juros</th>
							<th>Multa</th>
							<th>Desconto</th>
							<th>Total</th>
							<th>Dias Vencidos</th>
							<th>Quitação</th>
							<th>Carnês</th>
						</tr>
					</thead>
					<tbody>
						<% @aluno.mensalidades.each do |mensalidade| %>
						<tr class="odd gradeX">
							<td>
								<%= number_to_currency(mensalidade.valor, :unit => "R$", :separator => ",", :delimiter => ".") %>
							</td>
							<td>
								<%= mensalidade.vencimento %>
							</td>
							<td>juros</td>
							<td>multa</td>
							<td>desconto</td>
							<td>total</td>
							<td>dias vencidos</td>
							<td><%= mensalidade.data_quitacao%></td>
							<td><input type="checkbox" id="mensalidade_<%= mensalidade.id %>"/></td>
						</tr>
						<% end %>
	    		</tbody>
	    	</table>
	</div>
</div>

